<html>
  <head>
    <meta charset='utf-8' />
    <link href='css/styles.css' rel='stylesheet' />
    <title>Kakao Login</title>
  </head>
  <body>
    <!--https://developers.kakao.com/docs/latest/en/kakaologin/rest-api#request-code-request-->
    <a href="https://{{data.host}}/oauth/authorize?response_type=code&client_id={{data.restApiKey}}&redirect_uri={{data.redirectUri}}">
      <img src='/images/kakaoLogin.png' width='300'>
    </a>
    <script src='js/scripts.js'></script>
  </body>
</html>
