<html>
<head>
  <meta charset='utf-8' />
  <link href='css/styles.css' rel='stylesheet' />
  <title>Kakao Login</title>
</head>
  <body>
  Logged in
  <hr>
  <table>
    <tr>
      <th>Provider:</th>
      <td>{{data.provider}}</td>
    </tr>
    <tr>
      <th>ID:</th>
      <td>{{data.id}}</td>
    </tr>
    <tr>
      <th>Username:</th>
      <td>{{data.username}}</td>
    </tr>
  </table>
  <script src='js/scripts.js'></script>
  </body>
</html>
